<div class="answers well well-large">
    <div class="media">  
      <span class="pull-left"><%= image_tag(Photo.find(answer.photo_id).avatar_url(:thumb)) %> </span>
      <h1 style="padding: 10px;"><span class="big pull-left btn btn-primary disabled "><%= answer.rating %></span></h1>
      <span class="media-body"><%= Question.find(answer.question_id).text %></span>
    </div>
</div>
